NEXT_PUBLIC_APP_BASE_URL=https://kkarlsen.dev
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1d2pkYWN4YmlyaG1zZ2xjYnhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg0NTIxNDAsImV4cCI6MjA2NDAyODE0MH0.iSjbvGVpM3zOWCGpg5HrQp37PjJCmiHIwVQLgc2LgcE
NEXT_PUBLIC_API_BASE=https://server.kkarlsen.dev
NEXT_PUBLIC_API_URL=https://server.kkarlsen.dev
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_z9EoG7GZZMS3RL4hmilh5A_xI0va5Nb
NEXT_PUBLIC_SUPABASE_REDIRECT_URL=https://kalkulator.kkarlsen.dev/auth/callback
NEXT_PUBLIC_SUPABASE_URL=https://id.kkarlsen.dev
