/build
DerivedData
xcuserdata
ASConnectScreenshots

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output

# Environment files
.env
.env.local
.env.local.sh

# Ruby
vendor/bundle
.bundle