<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiL0WU3beZ8Q1pIZtoHB3G-HO16lG2LTo</string>
	<key>GCM_SENDER_ID</key>
	<string>368881196946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.tidex.app</string>
	<key>PROJECT_ID</key>
	<string>tidex-push</string>
	<key>STORAGE_BUCKET</key>
	<string>tidex-push.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368881196946:ios:b0c2be38b68983b055ab4b</string>
</dict>
</plist>